<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
      body {
       background-image: url(static/12.jpg); /* Путь к фоновому изображению */
       background-color: #c7b39b; /* Цвет фона */
      }
     </style>
</head>
<body>
  Выберите 2 фотографии, на каждой из которых изображен только 1 лицо. После этого нажмите add.
<form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file[]" multiple="">
    <input type="submit" value="add">
</form>


</body>
</html>