<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
      body {
       background-image: url(static/background.jpg); /* Путь к фоновому изображению */
       background-color: #c7b39b; /* Цвет фона */
      }
     </style>
</head>
<body>
  <H3 style="position:relative; top:200px; left:200px; width:375px;">На одной из фотографий не найдено лицо, попробуйте еще раз.</H3>
<form method="POST" enctype="multipart/form-data" action="/preview">
    <input type="file" name="file1" style="position:relative;  top:225px; left:200px;">
    <input type="file" name="file2" style="position:relative;  top:225px; left:200px;">
    <input type="submit" value="Отправить" style="position:relative; top:225px; left:200px;">
</form>


</body>
</html>