<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
        body {
         background-image: url(static/background.jpg);
         background-color: #c7b39b; /* Цвет фона */
        }
       </style>
</head>
<body>
    
    <H3 style="position:absolute; top:150px; left:150px; width:800px;">Расстояние между двумя лицами: {{dist}}. Чем ближе к 0 - тем лучше.</H3>
    <img src="static/pic1.jpg" alt="User Image2" style="position: absolute; top: 250px; left: 150px; height:350px;" width = "250">
    <img src="static/pic2.jpg" alt="User Image2" style="position: absolute; top: 250px; left: 550px; height:350px;" width = "250">

</body>
</html>


